// overalpage
$green-light: #a59f26;
$brown: #893f00;
$green-lightest: #cfce72;

// navbar
$colDefault: #ecf0f1;
$colHighlight: #ffbbbc;
$dropDown: false;

$front-shadow: #ffffff;

$fonts: 'Dancing Script', 'Parisienne', 'Satisfy';
