.article-hide {
  display: none;
}

#jumbotron {
  height: 100vh;
  background: orange;
  margin-bottom: 0;
  padding-top: 0;
  background-image: url('http://wanaroy.fi/images/gallery/08b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  p {
    font-weight: none;
    font-size: 1.7em;
    a {
      color: #008900;
      &:hover {
        color: $brown;
        text-decoration: none;
      }
    }
  }
  p, h1 {
    text-shadow: -2px 0 .3em $front-shadow, 0 1px .3em $front-shadow, 2px 0 .3em $front-shadow, 0 -2px .3em $front-shadow;
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: bold;
}
.front-display {
  width: 100%;
  position: absolute;
  z-index: 1000;
  transition: 1s ease-out;
}
#front-menu {
  text-align: center;
  text-decoration: none;
  color: $brown;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 0.9em;
  &:hover {
    color: $green-light;
  }
}
#front-footer-div {
  position: absolute;
  display: flex;
  top: 88vh;
  left: 50%;
}
