<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Parisienne|Satisfy" rel="stylesheet"> 
    <title>Wanaroy</title>

  </head>

  <body>

    <div class="front-display">

      <div id="jumbotron" class="jumbotron">
        <nav class="navbar navbar-default navbar-jumbotron">
          <ul id="nav" class="nav navbar-nav">
            <li><a class="front-a" href="#">Etusivu</a></li>
            <li><a class="front-a" href="#">Yritys</a></li>
            <li><a class="front-a" href="#">Yhteystiedot</a></li>
            <li><a class="front-a" href="#">Aukioloajat</a></li>
          </ul>
        </nav>
        <div class="container">

          <article>
            <h1>Etusivu</h1>
            <p>Dolor ex cum at vero asperiores facilis. Pariatur amet sit quia reprehenderit beatae, asperiores! Totam vitae repellat deserunt dignissimos quam, voluptatum vitae qui labore. Adipisci impedit voluptatum tempore rem totam.</p>
          </article>

          <article class="article-hide">
            <h1>Yritys</h1>
            <p>Consectetur molestias maiores sed nam quidem pariatur quis. Repellat debitis eum dolor maiores fugiat voluptate deserunt! Quibusdam ut hic at similique autem, aperiam consectetur cupiditate doloribus quo nesciunt? Dolorem est.</p>
          </article>

          <article class="article-hide">
            <h1>Yhteystiedot</h1>
            <p>Adipisicing aut doloremque exercitationem praesentium odio recusandae. Repudiandae nihil iure totam dolorum vitae consequuntur sint et. Error harum minima doloremque facilis sunt porro. Voluptates aut sint repudiandae doloribus tempora similique?</p>
          </article>

          <article class="article-hide">
            <h1>Aukioloajat</h1>
            <p>Dolor natus consequatur omnis consectetur praesentium magni temporibus labore. Ut adipisci aliquid aliquid excepturi quasi. Nam tempora explicabo inventore eius suscipit culpa omnis magni! Sunt dolorum ut provident consectetur totam?</p>
          </article>

          <div id="front-footer-div">
            <a id="front-menu" href="#" onclick="frontOut()">Menu<br />
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12 hide-on-start">
          <h3>Sidebar (fixed)</h3>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
          <div class="row">
            <div class="col-md-12 hide-on-start menu-container">
              <h2>Alkuruuat<br /><span>Appetizers</span></h2>
              <table class="table table-hover">
                <tr>
                  <td class="food-id"> A01. </td>
                  <td class="food-name">Fish Cake 6 kpl </td>
                  <td>6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A02. 	</td>
                  <td class="food-name">Kevätkääryleitä 2 kpl Spring Rolls 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A03. 	</td>
                  <td class="food-name">Som Tam Tulinen papaijasalaatti Spicy green papaya salad 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A04. 	</td>
                  <td class="food-name">Tomyam Kung Tulinen katkarapukeitto Spicy soup with prawns 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A05. 	</td>
                  <td class="food-name">Tomyam Kai Tulinen kanakeitto Spicy soup with chicken 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A06. 	</td>
                  <td class="food-name">Tom Kha Kai Kanakeitto kookosmaidolla Chicken soup with coconut milk 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A07. 	</td>
                  <td class="food-name">Tom Kha Kung Katkarapukeitto kookosmaidolla Prawn soup with coconut milk 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A08. 	</td>
                  <td class="food-name">Tomyam Thalee Tulinen äyriäiskeitto Spicy soup with seafood 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A09. 	</td>
                  <td class="food-name">Yam Wunsen Tulinen lasinuudeli-katkarapusalaatti Spicy salad with glass noodles and prawns 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A10. 	</td>
                  <td class="food-name">Yam Thalee Tulinen äyriäissalaatti Spicy seafood salad 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
                <tr>
                  <td class="food-id">A11. 	</td>
                  <td class="food-name">Kueiy Tiew Nya Riisinuudelikeitto naudanlihalla Soup with rice noodles and beef 	</td>
                  <td class="food-price">6.50 €</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!--/row-offcanvas -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- custom js -->
    <script src="js/script.js"></script>

  </body>

</html>
