<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Parisienne|Satisfy" rel="stylesheet"> 
    <title>Wanaroy</title>

  </head>

  <body>

    <div class="front-display">

      <div id="jumbotron" class="jumbotron">
        <nav class="navbar navbar-default navbar-jumbotron">
          <ul id="nav" class="nav navbar-nav">
            <li><a class="front-a" href="#">Tarjoukset</a></li>
            <li><a class="front-a" href="#">Yritys</a></li>
            <li><a class="front-a" href="#">Yhteystiedot</a></li>
            <li><a class="front-a" href="#">Aukioloajat</a></li>
          </ul>
        </nav>
        <img id="wanaroy-logo" class="logo-tarjoukset" src="img/wanaroy.jpg" alt="Wanaroy logo">
        <div class="container">
          <article>
            <div class="row">
              <div class="col-md-6">
                <h1>Tarjoukset</h1>
                <p>Valitse monipuolisesta <a href="#" onclick="frontOut()">menusta</a> sinua kiinnostava annos ja tule syömään viihtyisään ravintolaamme Helsingin Hakaniemeen. Kotiinkuljetus on myös tarjolla niille, jotka haluavat nauttia makyelämyksensä kotona. Kotiinkuljetuksena vain <strong>2.90 €</strong> Uudenmaan alueella!</p>
                <p>Kahden aterian tilaajille niin nouto kuin kuljetettuna Wanaroy tarjoaa kolme kasviskevätkäärylettä!</p>
                <p>Arjen työherkkutteluna lounasbuffetti aina maanantaista perjantaihin kello 11:00 ja 15:00 välillä.</p>
              </div>
            </div>
          </article>

          <article class="article-hide">
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <h1>Yritys</h1>
                <p>Olemme thaimaalainen perheyritys. Muutimme Suomeen vuonna 1987 vaikeiden olosuhteiden pakottamana. Mielestämme Suomi on kaunis ja hienoa maa, ja halusimme tuoda jotain omaamme rikastuttamaan tämän maan kulttuuria. Wanaroy syntyi, koska mielestämme ruoka on eräitä hienoimpia tapoja kokea vieras kulttuuri.</p>
                <p>Tavoitteenamme on tuoda terveellinen thaimaalainen ruoka jokaisen saataville. Tervetuloa!</p>
                <p></p>
              </div>
            </div>
          </article>

          <article class="article-hide">
            <div class="row">
              <div class="col-md-offset-8 col-md-4">
                <h1>Yhteystiedot</h1>
                <p>Roihuvuorentie 1, 00820 Helsinki</p>
                <p>Katso paikkamme <a href="https://maps.google.com/maps?f=q&source=s_q&hl=fi&geocode=&q=roihuvuorentie+1&aq=&sll=37.0625,-95.677068&sspn=62.057085,114.169922&ie=UTF8&hq=roihuvuorentie+1&hnear=&radius=15000&ll=60.196852,25.054295&spn=0.071946,0.071946&t=m&iwloc=lyrftr:m,6393257620524672697,60.196852,25.054294">Google-mapista</a>.</p>
                <p>Puhelinnumero: 040 967 0455</p>
              </div>
            </div>
          </article>

          <article class="article-hide">
            <div class="row">
              <div class="col-md-offset-8 col-md-4">
                <h1>Aukioloajat</h1>
                <p>Olemme auki jokapäivä!</p>
                <p>
                ma-la 11.00 - 21.00 <br />
                su 12.00 - 21.00 
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div id="front-footer-div">
        <a id="front-menu" href="#" onclick="frontOut()">Menu<br />
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </a>
      </div>

    </div>

    <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12 hide-on-start">
          <h1>Wanaroy</h1>
          <span><span class="glyphicon glyphicon-earphone"> </span> 040 967 0455</span>
          <ul id="preference-language">
            <li><a href="#" class="preference-language">fi</a></li>
            <li><a href="#" class="preference-language">en</a></li>
            <li><a href="#" class="preference-language">th</a></li>
          </ul>
          <ul id="sidebar-menu" class="nav">
            {{ range .Site.Data.menu }}
            <li class="lang lang-fi"><a href="#">{{ .name_fi }}</a></li>
            <li class="lang lang-en hide"><a href="#">{{ .name_en }}</a></li>
            <li class="lang lang-th hide"><a href="#">{{ .name_en }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div id="main">
        {{ range .Site.Data.menu}}
          <div class="col-md-12 hide-on-start menu-container menu-header">
            <h1>{{ .name_fi }}</h1>
          </div>
          <div class="col-md-12 hide-on-start menu-container menu-list">
            <table class="table table-hover">
            {{ range .items }}
              <tr>
                <td>{{ .id }}</td>
                <td class="lang lang-fi">{{ .name_fi }} {{ .amount }}</td>
                <td class="lang lang-en hide">{{ .name_en }} {{ .amount }}</td>
                <td class="lang lang-th hide">{{ .name_th }} {{ .amount }}</td>
                <td>{{ .price }}</td>
              </tr>
            {{ end }}
            </table>
          </div>
        {{ end }}
    </div><!--/row-offcanvas -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- custom js -->
    <script src="js/script.js"></script>

  </body>

</html>
