@import 'abstracts/variables';
// @import 'vendors/*';
@import 'base/base';

@import 'layout/navbar';
@import 'layout/front';
@import 'layout/menu-content';

@import 'components/sidebar';
// @import 'pages/*';
// @import 'themes/*';

#main {
  display: none;
}

/* find better way to do this */
.menu-container {
  padding-left: 250px;
  margin-right: 0;
  margin-left: 0;
  overflow-x: hidden;
}
.table {
  font-size: 1.8em;
  width: 100vw;
  margin: 0px auto;
  /* float: none; */
}
.table > tbody > tr > td {
  border-top: 0;
  /* border-bottom: 2px dotted  #b30000; */
  vertical-align: middle;
}
.menu-header {
  text-align: center;
  height: 100%;
}
.menu-header > h1 {
  font-size: 2.5em;
  color: $brown;
  font-family: $fonts;
}
.row-menu {
  height: 8em;
}
#preference-language li {
  display: inline;
  font-size: 0.6em;
  font-family: tahoma;
}
#preference-language {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.phone-number {
  font-size: 1.5em;
}

