$red: #b30000;
$red-light: #cb0000;

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Satisfy', cursive;
}
article {
  color: $red;
}


.article-hide {
  display: none;
}
.jumbotron p {
  font-weight: none;
  font-size: 1.7em;
}
.jumbotron p a {
  color: #008900;
}
.jumbotron p a:hover {
  color: $red-light;
  text-decoration: none;
}
.jumbotron h1,
.jumbotron p {
  text-shadow: -2px 0 .3em #ffffff, 0 1px .3em #ffffff, 2px 0 .3em #ffffff, 0 -2px .3em #ffffff;
}
#jumbotron {
  height: 100vh;
  background: orange;
  margin-bottom: 0;
  padding-top: 0;
  background-image: url('http://wanaroy.fi/images/gallery/08b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  /* background: transparent; */
  /* transition: background-image 0.2s ease-in-out; */
  /* -webkit-transition: background-image 0.2s ease-in-out; */
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: bold;
}
.front-display {
  width: 100%;
  position: absolute;
  z-index: 1000;
  transition: 1s ease-out;
}
#front-menu {
  text-align: center;
  text-decoration: none;
  color: $red;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 0.9em;
}
#front-menu:hover {
  color: $red-light;
}
#front-footer-div {
  position: absolute;
  display: flex;
  top: 88vh;
  left: 50%;
}
.hide-on-start {
  font-size: 1.8em;
  display: none;
}
/* find better way to do this */
.menu-container {
  padding-left: 250px;
  margin-right: 0;
  margin-left: 0;
  overflow-x: hidden;
}
.table {
  width: 70%;
  margin: 0px auto;
  /* float: none; */
}
.table > tbody > tr > td {
  border-top: 0;
  /* border-bottom: 2px dotted  #b30000; */
  vertical-align: middle;
}
.menu-header {
  text-align: center;
  height: 100%;
}
.menu-header > h1 {
  font-size: 2.5em;
  color: $red;
  font-family: 'Dancing Script', cursive;
  font-family: 'Parisienne', cursive;
  font-family: 'Satisfy', cursive;
}
.row-menu {
  height: 8em;
}
.glyphicon {
  font-size: 0.8em;
}
#preference-language li {
  display: inline;
  font-size: 0.7em;
  font-family: tahoma;
}
#preference-language {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
}
#wanaroy-logo {
  position: absolute;
  clip: rect(12px,945px,180px,205px);
  transform: scale(0.3);
}
#wanaroy-logo.logo-tarjoukset {
  top: 0vh;
  left: 90vh;
}
#wanaroy-logo.logo-yritys {
  top: 83vh;
  left: -37vh;
}
#wanaroy-logo.logo-yhteystiedot {
  top: 0vh;
  left: -36vh;
}
#wanaroy-logo.logo-aukioloajat {
  top: 0vh;
  left: -36vh;
}
/* @media only screen and (max-width: 500px) { */
    /* body { */
    /*     background-color: lightblue; */
    /* } */
/* } */

/* #wanaroy-logo-position { */
  /* position: relative; */
  /* width: 10px; */
/* } */


/* sidebar */
#sidebar {
  /* width: inherit; */
  min-width: 220px;
  max-width: 220px;
  background-color: $red;
  border-color: $red-light;
  border-style: solid;
  border-width: 0 2px 0 0;
  color: #ffffff;
  float: left;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}
#sidebar a {
  color: inherit;
  padding: 0;
}
#sidebar a:hover {
  background-color: initial;
  color: #650000;
}
#sidebar-menu {
  margin-top: 1.2em;
  margin-left: 20px;
}
#sidebar h1 {
  font-size: 58px;
}
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/* navbar */
.navbar-default {
  background-color: $red;
  border-color: $red-light;
  background-image: none;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0 0 2px 0;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: $red-light;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: $red-light;
}
.navbar-default .navbar-toggle {
  border-color:$red-light;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $red-light;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: $red-light;
  }
}
